{% extends 'base.html'%}

{% block body %}
<div class="container_fluid">
<img src="/static/contact.jpg" class="d-block w-100"  alt="...">
<h2 class="my-4 text-center">Contact Me </h2>
</div>
<form method="post"  action="/contact/">
{% csrf_token %}
<div class="m-4 row">
  <label for="exampleFormControlInput1" class="form-label">Email address</label>
  <input type="email" class="form-control" id="email" name="email" placeholder="name@example.com">
</div>
<div class="m-4 row">
  <label for="exampleFormControlTextarea1" class="form-label">Message</label>
  <textarea class="form-control" id="message" name="message" rows="3"></textarea>
</div>
<button type="submit" class="btn btn-primary m-4 text-center">Submit</button>
</form>
{% endblock body %}